/*-- --------------------------------------------------------------------------------
Post Item/Archive/Static clPostFrame
-------------------------------------------------------------------------------- */

div.clPostFrame{
  font-family: 'Ubuntu Mono','VL ゴシック','Takaoゴシック','メイリオ','ヒラギノ角ゴ Pro W3',sans-serif;
  padding: 4px;
  margin-left:16px;
  margin-right:24px;
  border:1px solid gray;
}
      
div.clPostFrame_XScroll{
  overflow-x:auto;
  white-space:nowrap;
}

div.clPostFrame_YScroll_Medium{
  overflow-y:auto;
  max-height:30em;
}

div.clPostFrame_Notify{
  background-color: whitesmoke;
}

div.clPostFrame_Warn{
  border-color:red;
  background-color: lavenderblush;
}

div.clPostFrame_GNOMETerminal{
  color:white;
  background-color: #300a24;
}

div.clPostFrame h2{
  background-color:transparent;
  background-image:none;

  color:#222222;

  margin:8px 4px;
}

div.clPostFrame h3{
  border-bottom-style:none;
      
  margin: 4px 0px;
}

.clBlockquote {
    padding: 16px;
    margin: 8px;
    border: 1px solid gray;
    border-left-width: 8px;
    background-color: WhiteSmoke;
}

.clsInstallAppButton{
  display: inline-block;
  background-image: -webkit-linear-gradient(top,  #F08763, #E95420);
	background-image: linear-gradient(to bottom, #F08763, #E95420);  
		
	color: white;
	font-weight: bold;
	margin: 16px;
	padding: 16px;
	border-radius: 4px;
	border: 4px solid #F8CCBC;
  text-shadow: 0px 2px 0px #BB390C;
  font-size: larger;
  line-height:48px;
  color:white;
}

.clsInstallAppButton:link{
  color:white;
}

.clsInstallAppButton:hover{
  background-image: -webkit-linear-gradient(top,  #E95420, #F08763);
	background-image: linear-gradient(to bottom, #E95420, #F08763);  
}

.clsInstallAppButton:before{
  background: url("https://lh3.googleusercontent.com/-p-regD-Unzg/Vy6xwcr3XzI/AAAAAAABapY/PTuama1PumUxwOOjS5-uBGV19bt2-ftlgCCo/s800/ubuntu_logo_white_48.png") 0 0 no-repeat transparent;
  width: 48px;
  height: 48px;
  content: '';
  margin-right:16px;
  float:left;
}

.clsInstallAppContainer{
  text-align:center;
}
