/*-- --------------------------------------------------------------------------------
User Settings
-------------------------------------------------------------------------------- */
.cls_UserSettings_buttonButton{
  font-size:inherit;
  padding:8px;
  margin-left:8px;
  margin-right:8px;
  min-width:256px;
}

.cls_UserSettings_Bookmark_divButtonContainer,
.cls_UserSettings_History_divButtonContainer,
.cls_UserSettings_InitializeUserSettings_divButtonContainer{
  padding-top:16px;
  padding-bottom:16px;
}

.cls_UserSettings_buttonLoadBookmark{
  margin:0;
}

.cls_UserSettings_inputLoadBookmark{
  opacity:0;
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

.cls_UserSettings_Bookmark_divMessageContainer,
.cls_UserSettings_History_divMessageContainer{
  border:1px solid #ddd;
  display:none;
  padding:8px;
  max-height:196px;
  overflow:hidden;
}

.cls_UserSettings_Bookmark_divMessageIcon,
.cls_UserSettings_History_divMessageIcon{
  background-repeat:no-repeat;
  background-size:auto;
  background-position:center;
  width:32px;
  height:32px;
  margin-right:16px;
  float:left;
}

.cls_UserSettings_SiteFont_divContainer,
.cls_UserSettings_DashFont_divContainer,
.cls_UserSettings_DashTheme_divContainer{
  padding:8px;
  padding-bottom:16px;
}

.cls_UserSettings_labelRadio{
  padding-right:16px;
}

.cls_divInputButtonContainer{
  display:inline-block;
  position:relative;
  margin-left:8px;
  margin-right:8px;
  margin-top:32px;
}
