/*-- --------------------------------------------------------------------------------
Dash Contents Tag
-------------------------------------------------------------------------------- */
/* Dash Tag Category */
.cls_Dash_Category_Contents_divTagList{
  background-image: url("//lh3.googleusercontent.com/-hPWrU_AGWVI/VPwhJbct0MI/AAAAAAAA_gM/N606_BjDiMQ/s800/Loading_Back333333_48.GIF"); 
}

.cls_Dash_Category_Title_divTagList{
  background-image: url("//lh5.googleusercontent.com/-CEIiZ978Gmw/VQPFW9T-BhI/AAAAAAAA_pQ/mxxOCigdQqM/s800/Dash_Category_Tag.png");   
}


.cls_Dash_Category_Contents_TagList_divItem{
  width:192px;
  height:48px;
  background-size:auto;  
}

.cls_Dash_Category_Contents_TagList_anchorItem{
  height:48px;
}

.cls_Dash_Category_Contents_divSearchResultPostContainer{
  background-repeat: no-repeat;
  background-position: center;
  min-height:48px;
}

.cls_Dash_Category_Contents_divSearchResultPostPageTitle{
  padding-top:8px;
  padding-bottom:8px;
}

.cls_Dash_Category_Contents_divSearchResultPost{
  padding:8px;
  padding-left:80px;
  height:64px;

  background-repeat: no-repeat;
  background-position: 8px center;
  background-size:64px;

  overflow:hidden;
}

.cls_Dash_Category_Contents_anchorSearchResultPostLink{
  display:table-cell;
  height:64px;
  vertical-align:middle;
  color:white;
}

