/*-- --------------------------------------------------------------------------------
Dash Contents Star
-------------------------------------------------------------------------------- */
/* Dash Star Category */
.cls_Dash_Category_Title_divPopularPost{
  background-image: url("//kledgeb.github.io/UbuntuKledgeb/Image/Dash_Star.svg");
  background-repeat:no-repeat;
  background-position: center left;
  background-size: 16px;
}




