/*-- --------------------------------------------------------------------------------
Dash Contents Star
-------------------------------------------------------------------------------- */
/* Dash Star Category */
.cls_Dash_Category_Title_divPopularPost{
  background-image: url("//lh3.googleusercontent.com/-r8-PR_MIAmk/VQPEEJGvvWI/AAAAAAAA_o4/gcAkrMvDZtA/s800/Dash_Category_PopularPost.png");   
}

.cls_Dash_Category_Title_divPageHistory{
  background-image: url("//lh6.googleusercontent.com/-K4sR7qNwv8E/VQnmCs7iXjI/AAAAAAAA_uk/_NDZI-cU6ts/s800/Dash_Category_PageHistory.png");   
}

.cls_Dash_Category_Title_divBookmark{
  background-image: url("//lh5.googleusercontent.com/-Xp6bETkrQiw/VQnmCT8KGjI/AAAAAAAA_ug/p01J4RaMbCc/s800/Dash_Category_Bookmark.png");   
}

.cls_Dash_Category_Contents_PopularPost_divItem,
.cls_Dash_Category_Contents_PageHistory_divItem,
.cls_Dash_Category_Contents_Bookmark_divItem{
  width:352px;
  height:128px;
}

.cls_Dash_Category_Contents_PopularPost_anchorItem,
.cls_Dash_Category_Contents_PageHistory_anchorItem,
.cls_Dash_Category_Contents_Bookmark_anchorItem{
  height:128px;
}


