/*-- --------------------------------------------------------------------------------
Dash Contents Ubuntu
-------------------------------------------------------------------------------- */

/* Dash ReleaseSchedule Category */
.cls_Dash_Category_Title_divReleaseSchedule{
  background-image: url("//kledgeb.github.io/UbuntuKledgeb/Image/Loading.svg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:contain;
}

.cls_Dash_Category_Contents_ReleaseSchedule_divItem{
  background-size:auto;
}

/* Dash SupportedVersion Category */
.cls_Dash_Category_Title_divSupportedVersion{
  background-image: url("//kledgeb.github.io/UbuntuKledgeb/Image/Loading.svg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:contain;
}

.cls_Dash_Category_Contents_SupportedVersion_divItem{
  background-size:auto;
}


