/*-- --------------------------------------------------------------------------------
Dash Contents Home
-------------------------------------------------------------------------------- */

/* Dash RelatedPost Category */
.cls_Dash_Category_Contents_divRelatedPost{
  background-image: url("//lh3.googleusercontent.com/-hPWrU_AGWVI/VPwhJbct0MI/AAAAAAAA_gM/N606_BjDiMQ/s800/Loading_Back333333_48.GIF"); 
}

.cls_Dash_Category_Contents_RelatedPost_divItem{
  width:352px;
  height:128px;
}

.cls_Dash_Category_Contents_RelatedPost_anchorItem{
  height:112px;  
}

.cls_Dash_Category_Title_divRelatedPost{
  background-image: url("//lh5.googleusercontent.com/-7kX_p4uxEn8/VP2kBpTZzLI/AAAAAAAA_iM/JH5zmuRJQwU/s800/Dash_Category_RelatedPost.png");   
}

/* Dash Latest Post Category */
.cls_Dash_Category_Contents_divLatestPost{
  background-image: url("//lh3.googleusercontent.com/-hPWrU_AGWVI/VPwhJbct0MI/AAAAAAAA_gM/N606_BjDiMQ/s800/Loading_Back333333_48.GIF"); 
}

.cls_Dash_Category_Contents_LatestPost_divItem{
  width:352px;
  height:128px;
}

.cls_Dash_Category_Contents_LatestPost_anchorItem{
  height:112px;  
}

.cls_Dash_Category_Title_divLatestPost{
  background-image: url("//lh3.googleusercontent.com/-WAwTaX_4uQs/VP2sPuhrl6I/AAAAAAAA_is/fdYg9OrHCg4/s800/Dash_Category_NewPost.png");   
} 


/* Dash ReleaseSchedule Category */
.cls_Dash_Category_Title_divReleaseSchedule{
  background-image: url("//lh5.googleusercontent.com/-Huw-mCUE_9A/VP2kBlCdo6I/AAAAAAAA_iE/CdAn4QmtwwY/s800/Dash_Category_Ubuntu.png");   
  
} 

.cls_Dash_Category_Contents_ReleaseSchedule_divIcon{
  background-size:auto;  
}

/* Dash SupportedVersion Category */
.cls_Dash_Category_Title_divSupportedVersion{
  background-image: url("//lh5.googleusercontent.com/-Huw-mCUE_9A/VP2kBlCdo6I/AAAAAAAA_iE/CdAn4QmtwwY/s800/Dash_Category_Ubuntu.png");   
  
} 

.cls_Dash_Category_Contents_SupportedVersion_divIcon{
  background-size:auto;  
}


