/*-- --------------------------------------------------------------------------------
Dash Contents Help
-------------------------------------------------------------------------------- */

/* Dash GeneralPage Category */
.cls_Dash_Category_Title_divUpdateNotifyPage{
  background-image: url("//lh4.googleusercontent.com/-I5tTXaxsX1g/VQV_JETSoYI/AAAAAAAA_rE/tcAB_vAf4M8/s800/Dash_Category_UpdateNotifyPage.png");   
}

/* Dash GeneralPage Category */
.cls_Dash_Category_Title_divHowToCommentPage{
  background-image: url("//lh6.googleusercontent.com/-eJ7t4RxwV4o/VQV_JMCc34I/AAAAAAAA_rk/wwXXlS1wQwA/s800/Dash_Category_HowToCommentPage.png");   
}

/* Dash GeneralPage Category */
.cls_Dash_Category_Title_divPrivacyPage{
  background-image: url("//lh5.googleusercontent.com/-TkHJ5TqHS3k/VQV_JeFCmKI/AAAAAAAA_r8/S1z_fSjOq9Q/s800/Dash_Category_PrivacyPage.png");   
}

.cls_Dash_Category_Contents_UpdateNotifyPage_divIcon,
.cls_Dash_Category_Contents_HowToCommentPage_divIcon,
.cls_Dash_Category_Contents_PrivacyPage_divIcon{
  background-size:auto;  
}
