/*-- --------------------------------------------------------------------------------
SNS ShareButton
-------------------------------------------------------------------------------- */
.cls_PostShare{
  margin-top:24px;
  padding-top:24px;
  border-top:1px solid #ddd;

}

.cls_PostShare_Button{
  float:left;
  margin-right:4px;
}


/*-- --------------------------------------------------------------------------------
SNS ShareButton
-------------------------------------------------------------------------------- */
.cls_BlogShare{
  margin-bottom:16px;
}

.cls_BlogShare_Button{
  float:left;
  margin-right:4px;
}

