/* --------------------------------------------------------------------------------
Main CSS
-------------------------------------------------------------------------------- */
   
a:link{
  color:#19529E;
  text-decoration:none;

  transition-property: color;
  transition-duration: 0.25s;
}

a:visited{
  text-decoration:none;

  transition-property: color;
  transition-duration: 0.25s;
}

a:hover,
a:active{
  color:#FF8E00;
  text-decoration:none;

  transition-property: color;
  transition-duration: 0.25s;
}

body{
  color:#434a54;
  background-color:white;
  letter-spacing:1px;
  line-height:1.5;
  margin:0;
  padding:0;
  background-repeat:no-repeat;
  background-size:auto;
  background-position:center;  
  min-height: 100%;
  min-width: 100%;
}

pre {
  font-size: inherit;
  margin:0;
}

div .clear{
  clear:both;
}

.userNoSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.blog-admin{
  display:none;
}
