/*-- --------------------------------------------------------------------------------
Contents
-------------------------------------------------------------------------------- */
.cls_ContentsAndRightBar{
  
}

.cls_Contents{
  margin-left:16px;
  padding-right:24px;
  margin-right:24px;
  border-right:1px solid #ddd;

  float:left;
  width:750px;
  min-height:24px;
}

.cls_Contents_divPost{
  background-color:white;
}  

.cls_divPostBody{

}

.cls_Contents_divStatusMessage{
  display:none;
  font-size:large;
  font-weight:bold;
}

.cls_divPostInfo{
  display:none;  
}

/*-- --------------------------------------------------------------------------------
Post Title
-------------------------------------------------------------------------------- */
.cls_PostTitle_divPostTitle{
  margin-bottom:16px;
  border-left:8px solid #184583;
  padding-left:12px;
}

.cls_PostTitle_h1PostTitle{
  font-size:x-large;
}

/*-- --------------------------------------------------------------------------------
Post Index
-------------------------------------------------------------------------------- */
.cls_PostBody_Index_divThumbnail{
  background-repeat:no-repeat;
  background-size:cover;
  background-position:top;

  width:180px;
  height:180px;
  
  float:left;
  
  margin-right:24px;
}

.cls_PostBody_Index_divSummary{
  min-height:140px;
  
  overflow:hidden;
  visibility:hidden;
  
  margin-bottom:32px;
  max-height:240px;
}

.cls_PostBody_Index_divContinueToRead{
  float:right;        
  background-color:#333333;

}

.cls_PostBody_Index_divContinueToRead a{
  color:#FFFFFF;
  font-weight:bold;
  
  display:block;
  height:38px;
  line-height:38px;
  padding:0 16px;
  text-align:center;
}

/*-- --------------------------------------------------------------------------------
Post Header Adsence
-------------------------------------------------------------------------------- */
.cls_PostHeadAdsence_divAdsence_1{
  width:728px;
  height:90px;
  overflow: hidden;
  margin-top:16px;
  margin-bottom:16px;
}

.adsbygoogle_res_4{
  width:728px;
  height:90px;  
}

/*-- --------------------------------------------------------------------------------
Post Item/Archive/Static
-------------------------------------------------------------------------------- */
.cls_divPostBody h2{
  padding: 8px;
  margin:8px 0px;  

  background-color:#333333;
  color:white;
  font-size:larger;
  position: relative;
  margin-bottom:16px;
}

.cls_divPostBody h2:after, .cls_divPostBody h2:before {
	top: 100%;
	left: 24px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.cls_divPostBody h2:after {
	border-color: rgba(51, 51, 51, 0);
	border-top-color: #333;
	border-width: 12px;
	margin-left: -12px;
}
.cls_divPostBody h2:before {
	border-color: rgba(51, 51, 51, 0);
	border-top-color: #333;
	border-width: 13px;
	margin-left: -13px;
}

.cls_divPostBody a{
  font-weight:bold;
}

.cls_divPostBody img {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.cls_divPostBody div.separator{
  overflow:hidden;
}

.cls_divPostBody h3{
  border-bottom-color:#434a54;
  border-bottom-style:solid;
  border-bottom-width:2px;
      
  margin: 4px 16px 4px 4px;

  font-size:inherit;
  font-weight:bold;
  line-height:175%;
}

.cls_divPostBody h4{
  font-weight:bold;
  margin:4px 0;
}

.cls_divPostBody ul,
.cls_divPostBody ol{
  list-style-position:outside;
}

/*-- --------------------------------------------------------------------------------
Post Footer
-------------------------------------------------------------------------------- */
.cls_divPostFooter{
  margin-top:16px;
  
  padding-top:16px;
  
  border-top:1px solid #ddd;
}

.cls_divPostFooter_index {
    margin-bottom: 24px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.cls_divPostFooter a{
  font-weight:bold;
}

.cls_PostFooter_divPostDate{
  float:left;
  
  margin-right:16px;
  padding-right:16px;
  border-right:1px solid #ddd;  
}

.cls_PostFooter_PostCommentCount{
  float:left;

  margin-right:16px;
  padding-right:16px;
  border-right:1px solid #ddd;  
}

.cls_PostFooter_divPostLabel{
  float:left;
}

.cls_divRelatedPostContainer{
  margin-bottom:16px;
  padding-bottom:16px;
  border-bottom:1px solid #ddd;
}

/*-- --------------------------------------------------------------------------------
Post Footer Adsence
-------------------------------------------------------------------------------- */

.cls_PostFooterAdsence_divContents{
  margin-top:24px;
  padding-top:24px;

  border-top:1px solid #ddd;
}

.cls_PostBottomAdsence_divContents{
  margin-top:24px;
  padding-top:24px;

  border-top:1px solid #ddd;  
}

.cls_PostFooterAdsence_divAdsence_1,
.cls_PostFooterAdsence_divAdsence_2,
.cls_PostFooterAdsence_divAdsence_3,
.cls_PostFooterAdsence_divAdsence_4,
.cls_PostBottomAdsence_divAdsence_1,
.cls_PostBottomAdsence_divAdsence_2{
  float:left;
  width:50%;
  height:280px;
  overflow: hidden;
}

.adsbygoogle_res_1,
.adsbygoogle_res_2{
  width:336px;
  height:280px;  
  margin:0 auto;
}

.adsbygoogle_LinkUnit_1,
.adsbygoogle_LinkUnit_2{
  margin:0 auto;  
}


