/*-- --------------------------------------------------------------------------------
Head Bar  
-------------------------------------------------------------------------------- --*/
  
#NewsBar1{
  min-height:42px;
  max-height:64px;
}

#section_SecondHeadBar{
  padding:8px;
}  

