/* --------------------------------------------------------------------------------
Right Bar  
-------------------------------------------------------------------------------- */
.cls_RightBar{
  margin-left:816px;
  max-width:664px;
  background-color:white;
}
  
.cls_divWidgetTitle{  
  font-size:inherit;
  font-weight:bold;

  background-color:#333333;
  color:white;

  padding-left:8px;
  padding-top:2px;
  padding-bottom:2px;
  margin-bottom:16px;
  margin-top:16px;
}

.cls_RightBar a{
  font-weight:bold;
}
  
.adsbygoogle_res_3{
  width:300px;
  height:600px;
}

#section_RightBar1{
  float:left;
  margin-bottom:24px;
}

#section_RightBar3{
  display:none;    
}

#HTML6{
  float: left;
  width: 300px;
  margin-right: 32px;  
}
