/* --------------------------------------------------------------------------------
Right Bar
-------------------------------------------------------------------------------- */
.cls_RightBar{
  margin-left:870px;
  max-width:664px;
  background-color:white;
}

.cls_divWidgetTitle{
  font-size:inherit;
  font-weight:bold;

  background-color:#333333;
  color:white;

  padding-left:8px;
  padding-top:2px;
  padding-bottom:2px;
  margin-bottom:16px;
  margin-top:16px;
}

.cls_RightBar a{
  font-weight:bold;
}

.adsbygoogle_res_3{
  width:300px;
  height:600px;
}

#section_RightBar1,
#section_RightBar3,
#section_RightBar4{
  float:left;
  margin-bottom:24px;
}

#section_RightBar4{
  min-width: 300px;
}

#HTML6{
  float: left;

  width: 300px;
  height:600px;

  margin-top: 16px;
  margin-right: 32px;
}

#HTML1{
  float: left;

  width: 300px;
  height:600px;

  margin-top: 0px;
  margin-right: 32px;
}

.cls_RightBarSNSItem{
  margin: 4px 0px;
  padding: 4px 0px;
  border-bottom: 1px solid #ddd;
}

.cls_RightBarYoutube{
  width: 300px;

  margin-top: 0px;
  padding-top: 0px;
}

.cls_RightBarYoutubeAnchor{
  display: block;

  width: 300px;
  height: 32px;

  margin: 16px 0;

  background-image: url("//kledgeb.github.io/UbuntuKledgeb/Image/kledgebChannelLogo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.cls_RightBarTwitter{
  border-bottom: none;
}

.cls_RightBarTwitterAnchor{
  display: block;
  background-image: url("//kledgeb.github.io/UbuntuKledgeb/Image/TwitterLogo_kledgeb.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 58px;
}

/* --------------------------------------------------------------------------------
Popular Post
-------------------------------------------------------------------------------- */
.cls_PopularPost_divPost{
  padding:8px;
  height:140px;
  overflow: hidden;
}

.cls_PopularPost_divRanking {
  position: relative;
	background: #333333;
	border: 2px solid #9D9C9C;
  width:32px;
  height:24px;
  color:white;
  text-align:center;

	z-index: 1;
}

.cls_PopularPost_divRanking:after, .cls_PopularPost_divRanking:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.cls_PopularPost_divRanking:after {
	border-color: rgba(51, 51, 51, 0);
	border-top-color: #333333;
	border-width: 8px;
	margin-left: -8px;
}
.cls_PopularPost_divRanking:before {
	border-color: rgba(107, 107, 107, 0);
	border-top-color: #6B6B6B;
	border-width: 11px;
	margin-left: -11px;
}

.cls_PopularPost_anchorPost{
  display:block;
  width:100%;
  height:100%;
}

.cls_PopularPost_divThumbnail{
  width:96px;
  height:96px;

  float:left;
  margin-right:16px;

  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cls_PopularPost_imgThumbnail{
  width:72px;
  height:72px;

  float:left;
  margin-right:16px;

  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cls_divPopularPost ul{
  padding-left:0;
}

.cls_divPopularPost li{
  list-style:none;
  float: left;
  width: 300px;
  margin-right: 32px;
}

.cls_PopularPost_Separate{
  margin-top:8px;
  margin-bottom:8px;

  border-top:1px solid #ddd;
}

/* --------------------------------------------------------------------------------
Pickup Post
-------------------------------------------------------------------------------- */
.cls_PickupPosts_divLoading{
  background-image: url("//kledgeb.github.io/UbuntuKledgeb/Image/Loading.svg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:contain;

  width:300px;
  height:128px;
}

.cls_divPickupPosts{
  display:none;
}

.cls_PickupPost_divPickupPost {
  float: left;
  width: 300px;
  margin-right: 32px;
}

.cls_PickupPost_anchorPickupPost {
  display: block;
  height: 160px;
  padding:8px;
  overflow: hidden;
}

.cls_PickupPost_divPickupPostThumbnail {
  width: 96px;
  height: 96px;
  float: left;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.cls_PickupPost_Separate {
  margin-top: 8px;
  margin-bottom: 8px;
  border-top: 1px solid #ddd;
}
